
main{
  padding: 10px 80px;
}

h1, h2, h3, h4{
  text-align:center
}
main div{
  max-width: 1920px !important;
  width: 100%;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f9f9f9;
    margin: 0px !important  
  }

  header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 1920px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0px 10%;
  }

  .logo{
    width: 50vw;
  }

  .logo img{
      width: 20%;
  }

  .dd-menu{
    width: 50vw;
    display: flex;
    flex-flow: row;
    /*align-content: right;*/
    justify-content: right;
    padding-right: 0%;
  }

  
  header a {
    float: left;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;
    font-weight: 500;  
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  header a:hover, .dropdown:hover .dropbtn {
    text-decoration: underline;
    text-decoration-color: #04AA6D ;
    transition: 1s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  main{
    margin-top: 100px;
  }

  footer{
    display: flex;
    flex-flow: row;
    background-color: #000;
    color: #ddd;
  }

  .triple-column{
    width: 50%;
    text-align: center;
    padding: 10px;
  }

/* Responzivni dizajn galerije*/
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

   /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(100,255,100, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #A9A9A9;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay, .hamburger{
  display: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {

  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 
  
  @media only screen and (max-width: 700px) {

    .dropdown{
      display: none;
    }

    .overlay, .hamburger{
      display: block;
    }

    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
